*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  direction: rtl;
  font-family: 'vazir' !important;
}

.header{
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 20px 300px;
  box-shadow: 0 0 10px rgb(117, 117, 117 ,.3);

}

.header span{
  
}

.header input{
  width: 500px;
  padding: 10px;
  border: 1px solid rgb(180, 180, 180);
}

.header button{
  width: 150px;
  background-color: crimson;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px;
}

.gallery img {
  width: 25%;
  height: 400px;
  object-fit: cover;
}
.gallery{
  background-color: black;
}