body {
direction: rtl;
font-family: 'vazir'!important;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none ;
  list-style: none;
  outline: none;
}

.wrapper{
  overflow-x:hidden;
  overflow-y:auto;
}

.wrapper h1{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;

}

.wrapper p{
  margin-top: 7px;
  text-align: center;
  font-weight: bold;
}

.wrapper .main{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.wrapper .main .form-container{
  width: 400px;
  height: 400px;
  background: #e4e4e4;
  margin: 20px auto;
  padding: 20px;
}

.wrapper .main .form-container button{
  width: 100%;
}

.wrapper .main .view-container{
  width: 600px;
  background: #e4e4e4;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.wrapper .main .view-container .delete-btn{
  color: crimson;
  cursor: pointer;
}

.wrapper .main .view-container tbody{
  margin-top: 20px;
}
.wrapper .main .view-container thead{
  border-bottom: black;
}